#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --onboot=off --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$q3pUoYkHV5Q4y5X4$G7WVJfetwfLQYOnGGKqtxrJc3rFMUl2Zmww7jPivQ6XwNTYbhY9wCDgJKV/.486rwVt.s7lqrKTzZFockq9RM1
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Kolkata --isUtc --nontp
user --name=vamsi --password=$6$xajmFV3nVWjPUZbH$TvfHLbWTd3Mk5IfgP3eDo6mMXc8gMr6NTeLHnezmXVF2CYMaeb6U4KkyeI4XbKT8/RgFrVGxYyHjTRI9pPk/G/ --iscrypted --gecos="vamsi"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part / --fstype="xfs" --ondisk=sda --size=10240
part swap --fstype="swap" --ondisk=sda --size=1024
part /boot --fstype="xfs" --ondisk=sda --size=1024

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
